<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>   </string>
	<string>江湖</string>
	<string>   </string>
	<string>词曲：许嵩</string>
	<string>演唱：许嵩</string>
	<string>    </string>
	<string>今夕是何夕</string>
	<string>晚风过花庭</string>
	<string>飘零 予人乐后飘零</string>
	<string>故地是何地</string>
	<string>死生不复回</string>
	<string>热血 风干在旧恨里</string>
	<string>   </string>
	<string>衣锦夜行 当一生尘埃落定</string>
	<string>飞鸽来急 那落款沾染血迹</string>
	<string>夜半嘱小徒复信 言师已故去</string>
	<string>星云沉默江湖里</string>
	<string>   </string>
	<string>孤雁飞去 红颜来相许</string>
	<string>待到酒清醒 她无影 原来是梦里</string>
	<string>   </string>
	<string>恩怨散去 刀剑已归隐</string>
	<string>敬属江上雨 寒舟里 我独饮</string>
	<string>   </string>
	<string>衣锦夜行 当一生尘埃落定</string>
	<string>飞鸽来急 那落款沾染血迹</string>
	<string>夜半嘱小徒复信 言师已故去</string>
	<string>星云沉默江湖里</string>
	<string>   </string>
	<string>孤雁飞去 红颜来相许</string>
	<string>待到酒清醒 她无影 原来是梦里</string>
	<string>   </string>
	<string>恩怨散去 刀剑已归隐</string>
	<string>敬属江上雨 寒舟里 我独饮</string>
	<string>   </string>
	<string>孤雁飞去 红颜来相许</string>
	<string>待到酒清醒 她无影 原来是梦里</string>
	<string>   </string>
	<string>恩怨散去 刀剑已归隐</string>
	<string>敬属江上雨 寒舟里 我独饮</string>
	<string>   </string>
	<string>我独饮</string>
	<string></string>
	<string></string>
</array>
</plist>
